* {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

a:link {
    text-decoration: none;
  }

a:visited {
    text-decoration: none;
  }

a:active {
    text-decoration: none;
  }

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
  }

.modalForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 500px;
  background-color: #000000;
  border: 3px solid #222222;
  box-shadow: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.dropzone {
  height: 20rem;
  margin: 1rem;
  padding: 1rem;
  border: 2px dashed #001c55;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.active {
  border: 2px solid green;
}

.navBar {
  color: white;
}

